* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.title {
    display:flex;
    background-color: #F55A5A;
    color: white;
    font-size: 15px;
    padding:5px;
    flex-direction: row-reverse;
    justify-content: center;
}

.earth {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-right: 5px;  
}